<section class="" id="container-icebreak">
    <section class="container">
        <div id="icebreak-info">
            <h1>
                PUMP IT!
                </h1>
                <h3>
                    Brreaking the Ice
                </h3>
                <p>
                    Dont know what to say to your matches? <br>Try one of these ice breakers! Here are a list of topics we recommend discussing with your matches.
                </p>
        </div>
        </section>
</section>
<br>
<div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Which gym is your favorite, and why?
        </p>
        <br>
        <p class="subtitle"></p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">What are your fitness goals?
        </p>
        <p class="subtitle"></p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">What is your favorite exercise?
        </p>
        <p class="subtitle"></p>
        <div class="content">
          <p></p>
        </div>
      </article>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Where is your favorite place to get smoothies?
        </p>
        <p class="subtitle"></p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Do you prefer to workout with men, or woman?
        </p>
        <p class="subtitle"></p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">What are you looking for here, love?
        </p>
        <p class="subtitle"></p>
        <div class="content">
          <p></p>
        </div>
      </article>
    </div>
  </div>
