    {{!-- login start --}}
    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <div id="ui">
            <h1 class="text-center">LOGIN FORM</h1>


            <form class="form login-form text-center">

              <div class="row">
              </div>
              <br>
              <div>
                <div class="row">
                  <!-- <div class="col-lg-6"> Original class value -->
                    
                  <div class="col-lg-12 col-sm-12 col-md-12 ">
                    <label for="email-login">E-mail:</label>
                    <input type="text" name="fname" class="form-control" placeholder="Enter your email.." id="email-login">
                    <br>
                  </div>
                  <div class="col-lg-12 col-sm-12">
                    <label>Password:</label>
                    <input type="text" name="lname" class="form-control" placeholder="Enter your password.." id="password-login">
                    <br>
                  </div>
                </div>
                <br>
                <a href="/userprofile/{{id}}">
                  <input type="submit" name="login" value="Log In" class="btn btn-primary btn-block btn-lg mb-4"></input>
                </a>
              </form>
            
              </div>
              <a href="/register/">
              <button class="btn btn-success btn-block btn-lg" name="register"  >Create New Account</button>
              </a>
              
          </div>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>
    {{!-- login end --}}

{{!-- <div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div> --}}

<script src="./js/login.js"></script>
