<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div id="ui">
                    <h1 class="text-center">UPDATE PROFILE</h1>
                    <br>
                    <form class="form-group text-center">
​
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Location:</label>
                                <input type="text" name="location" class="form-control"
                                    placeholder="Enter your Location..">
                            </div>
                            <div class="col-lg-6">
                                <label>Age:</label>
                                <input type="text" name="age" class="form-control"
                                    placeholder="Enter your Age..">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Username</label>
                                <input type="text" name="username" class="form-control" placeholder="Enter your username..">
                            </div>

                            <div class="col-lg-6">

                            <label>Phone Number</label>
                            <input type="text" name="phonebumber" class="form-control" placeholder="Enter your phone number..">
                            </div>

                        </div>
                        <br>
                        <label>Bio:</label>
                        <input type="text" name="bio" class="form-control" placeholder="Enter your Bio..">
​
                        <br>
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Snapchat:</label>
                                <input type="text" name="snapchat" class="form-control"
                                    placeholder="Enter your snapchat..">
                            </div>
                            <div class="col-lg-6">
                                <label>Instagram:</label>
                                <input type="text" name="instagram" class="form-control"
                                    placeholder="Enter your Instagram...">
                            </div>
                            <br>
                            <!-- <div class="row">
                                    <label>Phone number (optional):</label>
                                    <input type="password" name="lname" class="form-control" placeholder="Re-type password..">
                                </div> -->
                            <br>
                        </div>
​
                        <!-- <label>Select a Gender:</label>
                            <select class="form-control">
                                <option>Choose Gender..</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select> -->
                        <br>
​
                        <label>Activities:</label>
                        <input type="text" name="activities" class="form-control" placeholder="Enter your activities...">
                        <br>
                        <br>
​
                        <input type="submit" name="submit" value="submit"
                            class="btn btn-primary btn-block btn-lg"></input>
​
                    </form>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
​
​
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
​
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
​
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>