.card-body {
  background-color: rgb(228, 228, 228);
}

.card-text {
  font-style: italic;
}

nav {
  background: #2e3135;
  color: #fff;
  display: flex;
  justify-content: space-around;
}
nav .mainMenu {
  display: flex;
  list-style: none;
}

#ui {
  color: white;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  /* text-transform: uppercase; */
  color: #fff;
  font-size: 1.5rem;
}
nav .mainMenu li a:hover {
  background: rgb(255,94,0);
}
nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(216, 117, 4);}
.fa-github:hover {color: rgb(153, 153, 153);}
nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
/*  NOTE: Up  */
  /* margin: 6px; */
  font-size: 25px;
  cursor: pointer;
}


@media(max-width: 800px){
  
  nav .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #000;
      transition: top 1s ease;
      display: none;
  }
  nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
  }
  nav .openMenu {
      display: block;
      
  }
  nav .mainMenu li a:hover {
      background: none;
      color: rgb(255, 123, 0);
      font-size: 1.6rem;
  }
  .icons i {
      display: inline-block;
      padding: 12px;
  }
  
}
#ui{
  background-color: #2e3135;
  padding: 30px;
  margin-top: 80px;
  border-radius: 10px;
  opacity:0.9;
}
#ui label,h1{
  color: #fff;
}


body {
  background-image: url(https://images.unsplash.com/photo-1607962837359-5e7e89f86776?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  /* background-image: url(./images/bg.jpg); */
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
​
#ui {
  background-color: #2e3135;
  padding: 30px;
  margin-top: 80px;
  border-radius: 10px;
  opacity: 0.9;
}
​
#ui label,
h1 {
  color: #fff;
}

.matches-wrapper {
  display:flex;
  flex-wrap: wrap;
}
.card {
  width: 30%;
  padding:1rem;
  margin-left: 1%;
}

.container {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 300px;
  /* background-color: white; */
 
}
/* icebreak styling  */
/* img {
  height: auto;
max-width: 100%;
} */
#container-icebreak {
  position: relative;
  max-width: 100%;
  height: 225px;
  opacity: 90%;
  background-color: white;
  border-radius: 20px;
}
#icebreak-info {
  text-align: center;
}

/* Bottom right text */
.textblock{
  opacity: 95%;
  position: absolute;
  /* bottom:50px;
  right: 50px; */
  background-color: grey;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 40px;
  
}
#text{
  color:white;
}